<div class="row my-5 product-details-container">
    <ng-container *ngIf="product">
        <div class="col-5 product-image-container">
            <img [src]="'../../../../assets/images/'+product.PRODUCT_IMG+'.jpeg'" />
        </div>
        <div class="col-7 product-information-container">
            <span id="product-name">{{product.PRODUCT_NAME}}</span>
            <app-ratings [score]="product.ratings"></app-ratings>
            <hr>
            <div class="product-price">
                Price:<span class="price">{{product.PRICE|currency}}</span>
                <div>Inclusive of all taxes</div>
            </div>
            <div class="my-3 product-description">
                {{product.PRODUCT_DESCRIPTION}}
            </div>
            <div class="my-5 btn btn-warning cart-button"(click)="addToCart()">
                <div class="cart-icon-container">
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                </div>
                <div class="cart-text-container" >
                    <p>Add To Cart</p>
                </div>
            </div>
        </div>
        
    </ng-container>
</div>